*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.list{
    background-color:rgb(184, 160, 123) ;
    padding:1rem;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    
    
}

.content{
    padding-left:0.4rem;
    padding-right:0.4rem;
    margin-left:0.4rem;
    margin-right:0.4rem;
}